
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    margin: -1PX;

}

#navbar {
    background-color:#0c493b;
    width: 100%;
    height: 75px;

    /*porpiedade flex */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed;
    
}
#navbar a{
    color:white;
    text-decoration: none;
    font-family: 'Lato', Courier, monospace;
    font-size: 1.6em;
    margin: 10px;

}

.welcome-section{
    /*background-color:#a51111;*/

    height: 650px;
    border: 5px solid #1b1938;
    
    /*modificacion color*/
    background: rgba(59,53,102,1);
    /* background: linear-gradient(to bottom, rgba(59,53,102,1) 0%, rgba(165,17,17,1) 50%, rgba(145,168,197,1) 100%);*/
    /*propiedad flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Lato', Courier, monospace;
}

.tamano{
 font-size: 300%;
}
.tamano2{
    font-size: 200%;
   }
.sub-parrafo{
    color: black;
    font-size: 1.6em;

}


#projects{
    background-color: #91a8c5;
    width: auto;
    height: auto;

    /*propiedad flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Lato', Courier, monospace;
}
.cabeza{
    font-size: 200% ;
    margin-top: 150px ;
    margin-bottom: 100px;

}

#projects p{
    margin: 100px;
}

#projects a{
    text-decoration: none;
    margin: 20px
}
#projects a p{
    text-align: center;
    font-size: 1.5em;
    /*padding: 10px;*/
    background-color:#0c493b;
    margin: 0;
    width: 460px;
    height: 15%;
    padding-top: 10px;
}

.boton-redondo{
    border-radius: 15px;
    text-decoration: none;
    color: blueviolet;
    
}

.text-l{
    line-height: 0px;
}

#projects a img{
    align-items: center;
    width: 460px;
    height: auto;
    border-radius: 25px 25px 0px 0px;
}
/*nombrando componentes*/

#img-a1{
    grid-area: area1;
}
#img-a2{
    grid-area: area2;
}
#img-a3{
    grid-area: area3;
}
#img-a4{
    grid-area: area4;
}

#rej-proyectos{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-items: stretch;
    grid-template-areas: 
    "area1 area2"
    "area3 area4"
    ;

    column-gap: 20px;
    row-gap: 20px ;
}

#profile-link{
    background-color: #0c493b;
    width: auto;
    height: 100px;
     /*propiedad flex*/
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
    justify-items: stretch;
}

#Cursos-tech{
    background-color: #1b1938;
    width: auto;
    height: 100px;
}
#footer-section{
    background-color: #1b1938;
    width: auto;
    height: 100px;
    border-top: 3px solid #91a8c5;
}

.color-ico{
    color: rgb(181, 139, 61);
}

.ico-zise{
 font-size: 1.5em;
 }



 :hover
/*
@media   {


}

*/