/*
a - #3C2F9E
b - #E0864F
c - #3478D1
d - #D1B91F
e - #2ACED1
*/

#navbar {
    background-color:#5b51a3;
    width: auto;
    height: 100px;
}

#welcome-section{
    background-color:#6d4933;
    width: auto;
    height: 100px;
}

#projects{
    background-color: #91a8c5;
    width: auto;
    height: 100px;
}

#profile-link{
    background-color: #aad0c7;
    width: auto;
    height: 100px;
}

#Cursos-tech{
    background-color: #0f0b55;
    width: auto;
    height: 100px;
}
#footer-section{
    background-color: #9e2f82;
    width: auto;
    height: 100px;}

@media   {

    

}