
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
   margin: -1PX;
}

#navbar {
    background-color:#0c493b;
    width: 100%;
    margin-top: 0px;
    /*porpiedade flex */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed;  
}
#navbar a{
    color:white;
    text-decoration: none;
    font-family: 'Lato', Courier, monospace;
    font-size: 1.6em;
    margin: 10px;
}

.navbar-section{
    z-index: 1;
}
.welcome-section{
    height: 100vh;
    background: rgba(59,53,102,1);
}
.wel-table-boar{
    position: absolute;
    top: 30%;
    left: 12.5%;
   
    text-align: center;
    padding: 30px;
    background-color: wheat;
    color:#0c493b;
    font-weight: 600;
    height: 250px;
    width: 70%;
    border-radius: 15px;
    -webkit-box-shadow: 53px 42px 43px 16px rgba(61,47,61,0.57);
    -moz-box-shadow: 53px 42px 43px 16px rgba(61,47,61,0.57);
    box-shadow: 53px 42px 43px 16px rgba(61,47,61,0.57);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Lato', Courier, monospace;
}

.tamano{
 font-size: 300%;
}

.tamano2{
    font-size: 200%;
   }

.sub-parrafo{
    color: black;
    font-size: 1.6em;
}

.text-decoracion{
    text-shadow:10px 10px 12px rgba(0,0,0,0.75);
}

#projects{
    border: 5px solid #1b1938;
    background-color: #91a8c5;
    width: auto;
    height: auto;

    /*propiedad flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Lato', Courier, monospace;
}

.cabeza{
    font-size: 200% ;
    margin-top: 150px ;
    margin-bottom: 100px;

}

#projects p{
    margin: 70px;
    border-radius: 20px;
}

#projects a{
    text-decoration: none;
    margin: 20px
}

#projects a p{
    text-align: center;
    font-size: 1.5em;
    /*padding: 10px;*/
    background-color:#0c493b;
    margin: 0;
    width: 460px;
    height: 15%;
    padding-top: 10px;
}

.mod-p{
    text-align: center;
    font-size: 1em;
    background-color:#0c493b;
    margin: 0;
    border-radius: 20pxs;
}

.boton-redondo{
    border-radius: 15px;
    text-decoration: none;
    color: blueviolet;
    
}

.text-l{
    line-height: 0px;
}

#projects a img{
    align-items: center;
    width: 460px;
    height: auto;
    border-radius: 25px 25px 0px 0px;
}
/*nombrando componentes*/

#img-a1{
    grid-area: area1;
}
#img-a2{
    grid-area: area2;
}
#img-a3{
    grid-area: area3;
}
#img-a4{
    grid-area: area4;
}

#rej-proyectos{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-items: stretch;
    grid-template-areas: 
    "area1 area2"
    "area3 area4"
    ;

    column-gap: 20px;
    row-gap: 20px ;
}

#profile{
    background-color: #0c493b;
    width: auto;
    height: 600px;
     /*propiedad flex*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-items: stretch;
}

#footer-section{
    background-color: #1b1938;
    width: auto;
    height: 100px;
    border-top: 3px solid #91a8c5;
}

.color-ico{
    color: rgb(181, 139, 61);
}

.ico-zise{
 font-size: 1.5em;
 }
 
 .profile-link-cap{
    padding-top: 20px;
    color:white;
    text-shadow: 5px 5px 5px red;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Lato', Courier, monospace;
    margin: 30px;
 }

 .profile-link-2{
    background-color: #0c493b;
    width: auto;
    height: 600px;
    margin: 20px;
     /*propiedad flex*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-items: stretch;
}

.footer-z{
    text-align: center;
    color:rgba(161, 179, 141, 0.72);
}

@media screen and (max-width: 1000px){

    #navbar {
        /*porpiedade flex */
        display: flex;
        flex-direction: row;
        justify-content:center    
    }

    #rej-proyectos{
        grid-template-areas: 
        "area1 "
        "area2"
        "area3"
        "area4"
        ;
        grid-template-rows: auto;
    }

    #projects a img{
        width: 345px;
    }
    #projects a p{
        width: 345px;
    }
    .profile-link-cap{
        padding-top: 10px;
        font-size: 1.2em;
        margin: 15px;
    }

}