/*
a - #3C2F9E
b - #E0864F
c - #3478D1
d - #D1B91F
e - #2ACED1


#3b3566
*/
body{
    margin: -1PX;

}

#navbar {
    background-color:#0c493b;
    width: 100%;
    height: 100px;

    /*porpiedade flex */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed;
    
}
#navbar a{
    color:white;
    text-decoration: none;
    font-family: 'Ranchers', Courier, monospace;
    font-size: 1.5em;
    margin: 10px;

}

#welcome-section{
    /*background-color:#a51111;*/

    height: 400px;
    border: 5px solid #1b1938;
    
    /*modificacion color*/
    background: rgba(59,53,102,1);
    /* background: linear-gradient(to bottom, rgba(59,53,102,1) 0%, rgba(165,17,17,1) 50%, rgba(145,168,197,1) 100%);*/
    /*propiedad flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Ranchers', Courier, monospace;
}

#projects{
    background-color: #91a8c5;
    width: auto;
    height: auto;

    /*propiedad flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Ranchers', Courier, monospace;

}

#projects a{
    text-decoration: none;
}
#projects a p{
    text-align: center;
}

#projects a img{
    width: 25%;
    height: 25%;
}
/*nombrando componentes*/

#img-a1{
    grid-area: area1;
}
#img-a2{
    grid-area: area2;
}
#img-a3{
    grid-area: area3;
}
#img-a4{
    grid-area: area4;
}

#rej-proyectos{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
    "area1 area2"
    "area3 area4"
    ;

    column-gap: 10px;
    row-gap: 10px ;
}

#profile-link{
    background-color: #0c493b;
    width: auto;
    height: 100px;
}

#Cursos-tech{
    background-color: #1b1938;
    width: auto;
    height: 100px;
}
#footer-section{
    background-color: #9e2f82;
    width: auto;
    height: 100px;}
/*
@media   {


}

*/