/*
a - #3C2F9E
b - #E0864F
c - #3478D1
d - #D1B91F
e - #2ACED1
*/

#navbar {
    background-color:#3b3566;
    width: auto;
    height: 100px;
}
#navbar ul {
    
}

#welcome-section{
    background-color:#a51111;
    width: auto;
    height: 100px;
}

#projects{
    background-color: #91a8c5;
    width: auto;
    height: 100px;
}

#profile-link{
    background-color: #0c493b;
    width: auto;
    height: 100px;
}

#Cursos-tech{
    background-color: #1b1938;
    width: auto;
    height: 100px;
}
#footer-section{
    background-color: #9e2f82;
    width: auto;
    height: 100px;}

@media   {

    

}