/*
a - #3C2F9E
b - #E0864F
c - #3478D1
d - #D1B91F
e - #2ACED1
*/

#navbar {
    background-color:#3C2F9E ;
    width: 100px ;
}

#welcome-section{
    background-color:#E0864F;
    width: 100px ;
}

#projects{
    background-color: #3478D1;
    width: 100px ;
}

#profile-link{
    background-color: #D1B91F;
    width: 100px ;
}

#Cursos-tech{
    background-color: #2ACED1;
    width: 100px ;
}
#footer-section{
    background-color: #3C2F9E;
    width: 100px ;
}

@media   {

    

}